body {
    font-family: Arial, Helvetica, sans-serif;
}
.profile_image {
    border-radius: 25%;
    margin-top: 15px;
}
.resume_block {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
